.subjectHeader {
  color: #A4182B; font-family: sans-serif;
}

table {
  text-align: center;border: 3px solid black;
}

thead {
  font-weight: bold; color: orange;
}

tbody tr:nth-child(even) {
  background: gray;
}

tbody tr:nth-child(odd), tfoot {
  background: teal;
}



ul > li {
  list-style-type: square;
}

a:hover {
  background-color: blue;color: white;text-decoration: none;
}

blockquote {
  background-color: black; color: yellow;
}

a[href*="broncos"]  + ul {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
  background-size: 200px 100%;
  background-repeat: no-repeat;

}
a[href*="bears"]  + ul {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
  background-size: 200px 100%;
  background-repeat: no-repeat;

}

#teamRoster > li > img {
  display:none;
  list-style-type: none;
}

#checkbox-grid > li{
  list-style-type: none;
}

ol > li:first-child {
  font-weight: bold;
}
